
.main-page{
    width: 100vw;
    height: 100vh;
    background-color: #F4F8F7;
}

.h1-main-page{
    font-size:40px;
    margin: 29px 35px
}

.main-page-box{
    display: flex;
    max-width: 97%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}

.text-main-page{
    display: flex;
}

.box-page{
    width: 35vw;
    height: 17vh;
    background-color: white;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    animation-duration: 1s;
    animation-name:box;
}

@keyframes box {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.box-page a{
    font-size: 20px;
    color: black;
}

.btn-main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn-main-page {
    padding: 14px 105px;
    border-radius: 5px;
    background-color: #3AB19B;
    margin-top: 30px;
    color: white;
    font-size: 17px;
}

